@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('../components/navbar.css');
@import url('../components/footer.css');

* {

    margin: 0px;
    padding: 0px;
}

body {


    background-color: #212121;
}

.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   

}

.logo_header {

    display: flex;
    justify-content: left;

}

.links_header {

    display: flex;
    gap: 20px;

}

.text_logo {

    font-family: Instrument Sans;
    color: #FEFAE0;
    display: flex;
    align-items: center;


}

.text_home {
    font-family: Instrument Sans;
    font-size: 20px;
    color: #FEFAE0;
    text-decoration: none;
    margin: 12px;
    margin-top: 18px;

}

.text_historia {
    font-family: Instrument Sans;
    font-size: 20px;
    color: #FEFAE0;
    text-decoration: none;
    margin: 12px;
    margin-top: 18px;

}

.button_header {

    color: #FEFAE0;
    background-color: #7209B7CC;
    font-family: Instrument Sans;
    font-size: 20px;
    border: #7209B7CC;
    border-radius: 10px;
    width: 150px;
    margin: 10px;
    height: 41.44px;
    cursor: pointer;

}


.title_projetos {

    font-size: 40px;
    text-align: center;
    color: #FEFAE0;
    font-family: Instrument Sans;

}

.logo_projeto {


    display: flex;
    justify-content: center;
    color: #FEFAE0;

}


.linha {
    width: 1000px;
    border-bottom: 1px solid #FEFAE0;
    margin: 0 auto;
}

.conteudo-central,
.conteudo-central1, .conteudo-central2 {

    margin: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;

    justify-content: center;
    color: #FEFAE0;
}


.conteudo-card,
.conteudo-card1,
.conteudo-card2 {

    border: 3px solid #454545;
    
    border-radius: 20px;
    width: 500px;
     overflow: hidden;
    color: #FEFAE0;

}

.titulo-card,
.titulo-card1,
.titulo-card2 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    padding: 15px;
    color: #FEFAE0;
    align-items: center;

}

.nome-card {

    font-family: Instrument Sans;
    font-size: 35px;
}

.data-card {

    font-family: Instrument Sans;
    font-size: 25px;

}


.cor {

    background-color: #212121;
    width: 500px;
    height: 300px;
}

.texto-card,
.texto-card1,
.texto-card2 {

    padding: 8px;
    color: #D9D9D9;
    font-family: Instrument Sans;
    font-size: 25px;
    padding: 20px;

}

.contorno {

    background-color: #454545;

}

