@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('../components/navbar.css');
@import url('../components/footer.css');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #212121;
}

:root {
    --purple-primary: #240046;
    --purple-secondary: #3C096C;
    --purple-terciary: #7209B7;
    --purple-quartenary: #B5179E;
    --royal-blue-primary: #3F37C9;
    --royal-blue-secondary: #4361EE;
    --royal-blue-terciary: #647ff5;
    --white: #D9D9D9;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo_header {
    display: flex;
    justify-content: left;
}

.links_header {
    display: flex;
    gap: 20px;
}

.text_logo {
    font-family: Instrument Sans;
    color: #FEFAE0;
    display: flex;
    align-items: center;
}

.button_header {
    color: #FEFAE0;
    background-color: #7209B7CC;
    font-family: Instrument Sans;
    font-size: 20px;
    border: #7209B7CC;
    border-radius: 10px;
    width: 150px;
    margin: 10px;
    height: 41.44px;
    cursor: pointer;
}

.text_home {
    font-family: Instrument Sans;
    font-size: 20px;
    color: #FEFAE0;
    text-decoration: none;
    margin: 12px;
    margin-top: 18px;
}

.text_historia {
    font-family: Instrument Sans;
    font-size: 20px;
    color: #FEFAE0;
    text-decoration: none;
    margin: 12px;
    margin-top: 18px;
}

.titulo-conheca{
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    color: #FEFAE0;
    font-family: Instrument Sans;
    
}

.div-conheca{
    align-items: center;
    text-align: center;
    font-family: Instrument Sans;
}

.img-conheca{
    margin-top: 20px;
    margin-bottom: 20px;
}

.h2-perguntas{
    color: #FEFAE0;
    margin-left: 5px;
    font-family: Instrument Sans;
}
.div-perguntas{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Instrument Sans;
}

.informacoes-sobrenos{
    border-top: 2px solid #FEFAE0;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Instrument Sans;
}

.perguntas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Instrument Sans;

}

.descricao-perguntas{
    display: none;
    color: #FEFAE0;
    width: 500px;
    margin-right: 100px;
    font-size: 20px;
    font-family: Instrument Sans;

}
.div-perguntas:hover + .descricao-perguntas {
  display: block;
}